@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar,
::-webkit-scrollbar{
    display: none;
}

@keyframes scaleIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes toastLine {
  from { width: 100%; }
  to { width: 0%; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.animate-toastLine {
  animation: toastLine 3s linear forwards;
}



